@font-face {
    font-family: Bidenatrial;
    src: url("assets/fonts/Bidenatrial.ttf");
}

@font-face {
    font-family: LSO;
    src: url("assets/fonts/LSO.ttf");
}

@font-face {
    font-family: beautiful-dream;
    src: url("assets/fonts/beautiful-dream.otf");
}

@font-face {
    font-family: valentine-baby;
    src: url("assets/fonts/valentine-baby.otf");
}


@font-face {
    font-family: eden-meadow;
    src: url("assets/fonts/eden-meadow.tff");
}

@font-face {
    font-family: pinyon-script;
    src: url("assets/fonts/pinyon-script.ttf");
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: Bidenatrial;
}

.main-text {
    font-family: LSO;
}

.beautiful-font {
    font-family: beautiful-dream;
    letter-spacing: 0.1rem;
}

.footer-text {
    font-family: valentine-baby;
    letter-spacing: 0.1rem;
}

.mobile-menu {
    display: none;
}

.letter-font {
    font-family: pinyon-script;
    letter-spacing: 0.1rem;
}

@media (min-widthz: 768px) {
    .mobile-menu {
        display: flex;
    }

    .mobile-menu-button {
        display: none;
    }

    /* Styles for smaller screens */
    @media (max-width: 767px) {
        .desktop-menu {
            display: none;
        }

        .mobile-menu {
            display: block;
        }
    }
}
